/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Front-page posts */
.home {
.thumbnail-wrapper {
	max-width: 32vh;
}
.product-type-wrapper {
	display: flex;
	flex: 0 1 23%;
	max-width: 23%;
	flex-direction: column;
	border: 1px solid #e1e1e1;
}
}

/* Posts and pages */
.blog{
.content-area {
	width: 70%;
	padding: 5% 5% 0 0;
	border-right: 1px solid #e1e1e1;
}

.entry-header {
	position: relative;
}

.entry-title {
	position: absolute;
	top: 0;
	left: 0;
	background-color: $color__link;
	width: 75%;
	font-size: 2rem;
	padding: 0.8rem 1.5rem;
}

.entry-title a {
	color: #fff;
}

.entry-meta {
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: $color__link;
	color: #fff;
}
.site-content {
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
}
}
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}


/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

/* Shop */

.archive {

	.all-products {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		justify-content: space-between;

	.shop-product {
		width: 25%;
	}
}
}
